<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <style>
        body {
            background: #dde1e7;
        }

        .container {
            max-width: 1340px;
            margin: auto;
        }

        #box {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 23px;
        }

        #box div {
            background: #dde1e7;
            border-radius: 10px;
            box-shadow: -3px -3px 7px #ffffff73,
                2px 2px 5px rgba(94, 104, 121, 0.288);
            /* margin-left: 10px; */
            padding: 15px;
            margin-bottom: 40px;
            /* width: 330px; */
        }

        #box div img {
            width: 200px;
            height: 280px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            display: block;
            margin: auto;
        }

        #box div h1 {
            font-size: 29px;
            padding-top: 23px;
            padding-left: 10px;
        }

        #box div h6 {
            font-size: 21px;
            padding-top: 11px;
            padding-left: 10px;
        }

        #box div h3 {
            font-size: 20px;
            padding-top: 12px;
            padding-left: 10px;
        }

        #box div button {
            box-shadow: 2px 2px 5px #babecc, -5px -5px 10px #ffffff73;
            font-size: 18px;
            line-height: 50px;
            font-weight: 600;
            background: #dde1e7;
            border-radius: 25px;
            border: none;
            outline: none;
            cursor: pointer;
            color: #595959;
            width: 90%;
            height: 50px;
            display: block;
            margin: 26px auto;
        }

        #box div button:focus {
            color: #3498db;
            box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #ffffff73;
        }
    </style>
</head>

<body>
    <%- include("nav")%>

        <div class="container">
            <div id="box"></div>
        </div>

        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
        <script>

            const HandlePay = async (amount) => {
                let res = await fetch("/Product/Payment", {
                    method: "POST",
                    headers: { "content-type": "application/json" },
                    body: JSON.stringify({ amount: amount })
                });
                let order = await res.json();
                console.log(order);

                let options = {
                    key: "rzp_test_67TKW3OGPNMj27",
                    amount: order.amount,
                };
                var repyer = new Razorpay(options);
                repyer.open();
            }
            const HandleQty = (id, val) => {
                fetch(`/Product/Crat/Update/${id}`, {
                    method: "PATCH",
                    headers: { "content-type": "application/json" },
                    body: JSON.stringify({ val: val })
                })
                    .then((response) => response.json())
                    .then((data) => window.location.reload())
                    .catch((error) => console.log(error));
            }

            let Tprice = 0;
            const display = (data) => {
                document.getElementById("box").innerHTML = " ";
                data.map((element) => {
                    let ele = element.productID
                    Tprice += ele.price * element.qty
                    let img = document.createElement("img");
                    img.src = ele.image;
                    let title = document.createElement("h1");
                    title.innerHTML = `Title : ${ele.title}`;
                    let des = document.createElement("h6");
                    des.innerHTML = `Description : ${ele.description}`;
                    let price = document.createElement("h3");
                    price.innerHTML = ` Price : ${ele.price}`;

                    let btn1 = document.createElement("button");
                    btn1.innerHTML = "-";
                    btn1.addEventListener("click", () => HandleQty(element._id, -1));

                    let qty = document.createElement("button");
                    qty.innerHTML = `QTY ${element.qty}`;
                    let btn2 = document.createElement("button");
                    btn2.innerHTML = "+";
                    btn2.addEventListener("click", () => HandleQty(element._id, 1));

                    let div = document.createElement("div");
                    div.append(img, title, des, price, btn1, btn2, qty);
                    document.getElementById("box").append(div);
                });
                let pricebutton = document.createElement("button");
                pricebutton.innerHTML = `total price ${Tprice}`;
                let checkuout = document.createElement("button");
                checkuout.innerHTML = "Checkout";
                checkuout.addEventListener("click", () => HandlePay(Tprice));
                document.getElementById("box").append(pricebutton, checkuout);
            };

            fetch("/Product/CartData")
                .then((res) => res.json())
                .then((data) => display(data));


        </script>
</body>

</html>