<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <%- include("nav") %>
    <div class="bodys">
    <div class="content">
        <div class="text">Login Form</div>
        <form action="/User/Login" method="post">
          <div class="field">
            <input type="email" name="email"  placeholder="Enter Your Email"/>
          </div>
          <div class="field">
            <input type="password" name="password" placeholder="Enter Your Password"/>
          </div>
          <div class="forgot-pass">
            <a href="/User/Forget">Forgot Password?</a>
          </div>
          <button type="submit" >Sign in</button>
        </form>
      </div>
    </div>
</body>
</html>