<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nav</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header>
        <div class="container">
            <div class="row justify-content align-items">
                <div class="logo">
                    <a href="#">NENCY</a>
                </div>
                <nav>
                    <ul class="row">
                        <li><a href="/Product/HomeRender">Home</a></li>
                        <li><a href="/Product/Post">POST</a></li>
                        <li><a href="/User/Signup">SIGNUP</a></li>
                        <li><a href="/User/Login">LOGIN</a></li>
                        <li><a href="/Product/CartRender">CART</a></li>
                        <li><a href="/User/Profile">PROFILE</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
</body>
</html>