* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: nowrap;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.justify-content {
    justify-content: space-between;
}

.align-items {
    align-items: center;
}

header {
    background-color: #dde1e7;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    padding: 15px 0px;
    font-size: 18px;

}

header ul li {
    padding: 0px 20px;
}

header ul li a {
    color: red;
    font-weight: 800;
}

header .logo a {
    color: red;
    font-weight: 800;
}
body{
    background-color: #dde1e7;
}

/* form */
.bodys {
    display: grid;
    place-items: center;
    text-align: center;
}
.content {
    width: 380px;
    padding: 40px 41px;
    background: #dde1e7;
    border-radius: 10px;
    box-shadow: -3px -3px 7px #ffffff73,
        2px 2px 5px rgba(94, 104, 121, 0.288);
    margin-top: 60px;
}
.content .text {
    font-size: 33px;
    font-weight: 600;
    margin-bottom: 35px;
    color: #595959;
}

.field {
    height: 53px;
    width: 100%;
    display: flex;
    position: relative;
}

.field:nth-child(2),
.field:nth-child(3) {
    margin: 27px 0px;
}

.field input {
    height: 100%;
    width: 100%;
    padding-left: 45px;
    outline: none;
    border: none;
    font-size: 18px;
    background: #dde1e7;
    color: #595959;
    border-radius: 25px;
    box-shadow: inset 2px 2px 5px #BABECC,
        inset -5px -5px 10px #ffffff73;
    font-weight: 500;
}

.field input:focus {
    box-shadow: inset 1px 1px 2px #BABECC,
        inset -1px -1px 2px #ffffff73;
}

.field span {
    position: absolute;
    color: #595959;
    width: 50px;
    line-height: 50px;
}

.field label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #666666;
}

.field input:valid~label {
    opacity: 0;
}

.forgot-pass {
    text-align: left;
    margin: 24px 0 10px 10px;
}

.forgot-pass a {
    font-size: 16px;
    color: red;
    text-decoration: none;
}

.forgot-pass:hover a {
    text-decoration: underline;
}

button {
    margin: 22px 0 21px 0px;
    width: 100%;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    font-weight: 600;
    background: #dde1e7;
    border-radius: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #595959;
    box-shadow: 2px 2px 5px #BABECC,
        -5px -5px 10px #ffffff73;
}

button:focus {
    color: #3498db;
    box-shadow: inset 2px 2px 5px #BABECC,
        inset -5px -5px 10px #ffffff73;
}

.ft1 {
    color: #595959;
}